
{% extends 'base.html' %}
{% load static %}
{% block body %}

        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-90">
                <div class="container">
                    <div class="row">
                       
                        <div class="col-lg-12 col-md-12">
                            <div class="section__content">
                                <div class="container">
                                    <div class="row">


                                        <div class="col-lg-4 col-md-4 col-sm-6 u-s-m-b-30">
            
                                            <a class="promotion" href="/hackbit/{{ company_name}}/practice">
                                                <div class="aspect aspect--bg-grey aspect--square">
            
                                                    <img class="aspect__img promotion__img" src="/static/images/practice.jpg" alt=""></div>
                                                <div class="promotion__content">
                                                    <div class="promotion__text-wrap">
                                                        <div class="promotion__text-1">
            
                                                            <span class="u-c-secondary">ACE YOUR INTERVIEW</span></div>
                                                        <div class="promotion__text-2">
            
                                                            <span class="u-c-secondary">Practice</span>
            
                                                            <span class="u-c-brand"></span>CODING</div>
                                                    </div>
                                                </div>
                                            </a></div>
                                         <div class="col-lg-4 col-md-4 col-sm-6 u-s-m-b-30">
            
                                                <a class="promotion" href="/hackbit/{{ company_name}}/interviewexp">
                                                    <div class="aspect aspect--bg-grey aspect--square">
                
                                                        <img class="aspect__img promotion__img" src="/static/images/interviewexp.jpg " alt=""></div>
                                                    <div class="promotion__content">
                                                        <div class="promotion__text-wrap">
                                                            <div class="promotion__text-1">
                
                                                                <span class="u-c-secondary">INTERVIEW EXPERIENCES TO</span></div>
                                                            <div class="promotion__text-2">
                
                                                                <span class="u-c-secondary">BOOST YOUR</span>
                
                                                                <span class="u-c-brand">CONFIDENCE</span></div>
                                                        </div>
                                                    </div>
                                                </a></div>
                                        
                                        <div class="col-lg-4 col-md-4 col-sm-6 u-s-m-b-30">
    
                                            <a class="promotion" href="/Resume/resumetemplates/">
                                                <div class="aspect aspect--bg-grey aspect--square">
            
                                                    <img class="aspect__img promotion__img" src="/static/images/resume.jpg" alt=""></div>
                                                <div class="promotion__content">
                                                    <div class="promotion__text-wrap">
                                                        <div class="promotion__text-1">
            
                                                            <span class="u-c-secondary">AFRAID YOUR RESUME IS'NT GOOD </span></div>
                                                        <div class="promotion__text-2">
            
                                                            <span class="u-c-secondary">LEARN FROM THE</span>
            
                                                            <span class="u-c-brand">BEST</span></div>
                                                    </div>
                                                </div>
                                            </a></div>

                                            <div class="col-lg-4 col-md-4 col-sm-6 u-s-m-b-30">
            
                                                <a class="promotion" href="/hackbit/{{ company_name}}/roadmap">
                                                    <div class="aspect aspect--bg-grey aspect--square">
                
                                                        <img class="aspect__img promotion__img" src="/static/images/roadmaps.jpg" alt=""></div>
                                                    <div class="promotion__content">
                                                        <div class="promotion__text-wrap">
                                                            <div class="promotion__text-1">
                
                                                                <span class="u-c-secondary">PERSONALIZED </span></div>
                                                            <div class="promotion__text-2">
                
                                                                <span class="u-c-secondary">ROADMAPS TO ACHIVE GOAL </span>
                
                                                                <span class="u-c-brand"></span>IN SHORT DURATION</div>
                                                        </div>
                                                    </div>
                                                </a></div>
                                        


                                            <div class="col-lg-4 col-md-4 col-sm-6 u-s-m-b-30">
            
                                                <a class="promotion" href="/hackbit/{{ company_name}}/softskill">
                                                    <div class="aspect aspect--bg-grey aspect--square">
                
                                                        <img class="aspect__img promotion__img" src="/static/images/softskill.jpg" alt=""></div>
                                                    <div class="promotion__content">
                                                        <div class="promotion__text-wrap">
                                                            <div class="promotion__text-1">
                
                                                                <span class="u-c-secondary">WILL CODING GAURANTEE JOB</span></div>
                                                            <div class="promotion__text-2">
                
                                                                <span class="u-c-secondary">BUT CODING+</span>
                
                                                                <span class="u-c-brand">SOFTSKILLS WILL</span></div>
                                                        </div>
                                                    </div>
                                                </a></div>
                                        

                                                <div class="col-lg-4 col-md-4 col-sm-6 u-s-m-b-30">
            
                                                    <a class="promotion" href="/hackbit/{{ company_name}}/companyinfo">
                                                        <div class="aspect aspect--bg-grey aspect--square">
                    
                                                            <img class="aspect__img promotion__img" src="/static/images/companyinfo.jpg" alt=""></div>
                                                        <div class="promotion__content">
                                                            <div class="promotion__text-wrap">
                                                                <div class="promotion__text-1">
                    
                                                                    <span class="u-c-secondary">WANNA KNOW MORE </span></div>
                                                                <div class="promotion__text-2">
                    
                                                                    <span class="u-c-secondary">ABOUT THE COMPANT YOU DREAMING </span>
                    
                                                                    <span class="u-c-brand"></span>KNOW MORE HERE !!!</div>
                                                            </div>
                                                        </div>
                                                    </a></div>
                                        
                                            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->
        </div>
        <!--====== End - App Content ======-->


        
{% endblock %}