{% extends 'base.html' %}
{% load static %}

{% block body %}

<!--====== App Content ======-->
<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-90">

        <!--====== Detail Post ======-->
        <div class="detail-post">
            <div class="bp-detail">
                <div class="bp-detail__thumbnail">

                    <!--====== Image Code ======-->
                    <div class="aspect aspect--bg-grey aspect--1366-768">

                        <img class="aspect__img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_2U0jSB2DpeCt1RZ7ir_mXAiIEkSyE8uLag&usqp=CAU" alt=""></div>
                    <!--====== End - Image Code ======-->
                </div>
                <div class="bp-detail__info-wrap">

                    <span class="bp-detail__h1">
                    <h2 style="text-align: center; color: black;">Steps for writing a Great Resume</h2>
                        <!-- <a href="blog-detail.html">Steps for writing a Great Resume</a></span> -->
                    <p class="bp-detail__p"><a href="#1">1. Look for keywords in the job postings</a></p>
                    <p class="bp-detail__p"><a href="#2">2. Review resume examples for your industry</a></p>
                    <p class="bp-detail__p"><a href="#3">3. Use a professional font</a></p>
                    <p class="bp-detail__p"><a href="#4">4. Include only the most relevant information and put the most important information first</a></p>
                    <p class="bp-detail__p"><a href="#5">5. Use active language</a></p>
                    <p class="bp-detail__p"><a href="#6">6. Call attention to important achievements</a></p>
                    <p class="bp-detail__p"><a href="#7">7. Only include subheadings and sections you need</a></p>
                    <p class="bp-detail__p"><a href="#8">8. Choose appropriate margins</a></p>
                    <p class="bp-detail__p"><a href="#9">9. Proofread and edit</a></p>
                    <p class="bp-detail__p"><a href="#10">10. Decide whether you need a unique resume for different jobs</a></p>

                    <p class="bp-detail__p">And here's a guide on how to create a professional resume:</p>

                    <h2 style = "color: black;" id="1">1. Look for keywords in the job postings</h2>
                    <p class="bp-detail__p">The best place to start when preparing to write a resume is to carefully read the job postings that interest you. As you apply for different jobs, you should study each job description for keywords that show what the employer is looking for in an ideal candidate. Include those keywords in your resume where relevant.</p>
                    <p class="bp-detail__p">For example, if you’re applying for a job as a medical billing coder, an employer might list keywords like “coding,” “claims submission,” “compliance” or “AR management” in the job description. Pay particular attention to anything listed in the sections labeled “Requirements” or “Qualifications.” If you have the skills that employers are looking for, you can add these same terms to your resume in the experience or skills sections.</p>
                    
                    <h2 style = "color: black;" id="2">2. Review resume examples for your industry</h2>
                    <p class="bp-detail__p">When crafting your resume, you might study examples of resumes from your industry for inspiration and best practices. While there are many ways you can use resume samples, there are three main takeaways you should look for:</p>
                    <ul>
                        <li><p class="bp-detail__p"><strong>Make it simple and easy to read.</strong> Resume samples are simple and straightforward. This is because employers have a minimal amount of time to review your resume, so readability is key. This also means selecting a professional, clean font.</p></li>
                        <li><p class="bp-detail__p"><strong>Make it brief.</strong> You’ll notice that each section of the resume sample is short and to-the-point, including the summary and experience descriptions. Including only the most key and relevant information means employers are able to consume more information about you, and more quickly understand your fitness for the role.</p></li>
                        <li><p class="bp-detail__p"><strong>Include numbers.</strong> You might also notice that there are often metrics included in the experience section of resume samples. This is because employers are highly responsive to measurable proven value. Numbers allow them to better understand the value you may bring to the position. For example, one bullet point under the experience description for an administrative assistant reads, “Executed processing of vendor contracts and implemented a standardized process, reducing contract discrepancies by 90%.”</p></li>
                    </ul>
                    <p class="bp-detail__p">When using resume samples, you should keep in mind that these are not meant to be copied exactly. While you should avoid using them as a template, samples are useful as examples of high-quality resumes in your industry and job title.</p>

                    <h2 style = "color: black;" id="3">3. Use a professional font</h2>
                    <p class="bp-detail__p">Because employers have only a short time to review your resume, it should be as clear and as easy to read as possible. You should use a basic, clean font like Arial or Times New Roman. Keep your font size between 10 and 12 points. Selecting a clear, readable font will help make your resume appear more professional.</p>
                    <p class="bp-detail__p">You should also make sure to reduce or eliminate any extraneous whitespace. Too much blank space might make your resume seem sparse, distracting the audience and possibly raising a red flag. By reducing extra white space, you make it easier for the resume reader to focus only on the content of your resume instead of the white spaces. You can reduce white space by increasing your font size to 12 points and possibly adding an additional, optional section like “Skills” or “Awards and Achievements.”</p>
                    
                    <h2 style = "color: black;" id="4">4. Include only the most relevant information and put the most important information first</h2>
                    <p class="bp-detail__p">While you might have extensive work or educational experience, it’s important to keep your resume as brief as possible without leaving out key information. Hiring managers don’t spend a lot of time reading each resume. Research has shown that hiring managers tend to spend only 6 seconds per resume. If your resume includes old or irrelevant information, such as jobs held over 10 years ago or minor degrees and achievements, it may distract from key information.</p>
                    <p class="bp-detail__p">Try to include only work experience, achievements, education and skills most relevant to the employer. You can find the most relevant attributes by closely reading the job posting. You should prioritize important information higher on your resume to draw attention to key skills and achievements.</p>

                    <h2 style = "color: black;" id="5">5. Use active language</h2>
                    <p class="bp-detail__p">Your resume should be written using active language without extraneous words. This means using power words, such as “achieved,” “earned,” “completed” or “accomplished.” If your resume is too long or seems hard to read, you might consider making sentences shorter or ideas more concise.</p>
                    <p class="bp-detail__p">For example, you may have a job description that reads:</p>
                    <p class="bp-detail__p">“During my time at Freedom Inc., I ran multiple team-based projects and helped each team member with various tasks associated with each project.”</p>
                    <p class="bp-detail__p">This example could be shortened and strengthened in the following way:</p>
                    <p class="bp-detail__p">“Led multiple team-based projects and effectively coordinated group tasks.”</p>
                    <p class="bp-detail__p">The revised version communicates the same ideas about your accomplishments while reducing the number of words and including more active language.</p>

                    <h2 style = "color: black;" id="6">6. Call attention to important achievements</h2>
                    <p class="bp-detail__p">Instead of listing your job duties under the experience section, select your top three or four most important achievements in each role you’ve held. Where possible, include numbers that measure your success for that particular goal or achievement.</p>
                    <p class="bp-detail__p">You might also consider including a separate “Achievements” or “Skills” section to specifically highlight relevant achievements in your education, career, volunteer work or other experiences.</p>

                    <h2 style = "color: black;" id="7">7. Only include subheadings and sections you need</h2>
                    <p class="bp-detail__p">Whether you’re using a resume template or creating your own, you may find there are some recommended sections you do not need.</p>
                    <p class="bp-detail__p">For example, you may need a resume summary or a resume objective, but you should not include both. If you are just graduating from college or high school and have not yet held a professional position, do not include an empty work history section. Instead, you might replace the experience section with relevant coursework, academic achievements and other experiences like internships or extracurricular projects.</p>
                    <p class="bp-detail__p">You may also find it useful to combine sections if you are having trouble filling a section with more than two bullet points.</p>

                    <h2 style = "color: black;" id="8">8. Choose appropriate margins</h2>
                    <p class="bp-detail__p">Before sending your resume, you should undergo several rounds of proofreading to ensure there are no spelling or grammar errors. While there are several proofreading programs and tools you can use, it is also helpful to ask trusted friends or colleagues to review your resume. It is helpful for an objective third party to look at your resume as an employer might to find ways you can correct or improve it.</p>

                    <h2 style = "color: black;" id="9">9. Proofread and edit</h2>
                    <p class="bp-detail__p">Before sending your resume, you should undergo several rounds of proofreading to ensure there are no spelling or grammar errors. While there are several proofreading programs and tools you can use, it is also helpful to ask trusted friends or colleagues to review your resume. It is helpful for an objective third party to look at your resume as an employer might to find ways you can correct or improve it.</p>

                    <h2 style = "color: black;" id="10">10. Decide whether you need a unique resume for different jobs</h2>
                    <p class="bp-detail__p">Before submitting an application, you should ask yourself, “Have I made it as easy as possible for this employer to see that I’m qualified?”. If you’re applying for a job that has unique requirements, you may need another version of your resume to fully demonstrate your qualifications. Decide on a case by case basis which resume to use.</p>
                    <p class="bp-detail__p">Your resume is often the first step to getting an interview with an employer. Make sure you include the most relevant information on your resume, organize it to highlight the most important information and carefully review for errors. Once your resume is polished and finalized, it should help you get more callbacks, interviews, and job offers.</p>

                    <div class="post-center-wrap">
                        <ul class="bp-detail__social-list">
                            <li>

                                <a class="s-fb--color" href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li>

                                <a class="s-tw--color" href="#"><i class="fab fa-twitter"></i></a></li>
                            <li>

                                <a class="s-insta--color" href="#"><i class="fab fa-instagram"></i></a></li>
                            <li>

                                <a class="s-wa--color" href="#"><i class="fab fa-whatsapp"></i></a></li>
                            <li>

                                <a class="s-gplus--color" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->
</div>
<!--====== End - App Content ======-->

{% endblock %}